body {
    background-image: url("../images/white.jpg");
    font-family: 'Source Serif Pro', serif;
}
.topNavBar {
    padding: 5px;
}
.idiomaImage {
    margin: 10px;
}
.inputContainer {
}
.userInputLabel {
    text-align: center;
    font-size: 35px;
    background-color: #173F5F;
    color: white;
    width: 40%;
    margin: 0 30%;
    padding: 10px;
    border-radius: 5px;
}
.userInput {
    width: 89.5%;
    padding: 10px 30px;
    font-size: 15px;
    border: 2px solid #173F5F;
}
.buttons {
    margin: 0 auto;
    width: 60%;
}
.optionButton {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #173F5F;
}
.translationBox {
    width: 95%;
    height: 60px;
    background-color: white;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
.contentBox {
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.searchButton {
    float: right;
    background-color: #173F5F;
    color: white;
    font-size: 25px;
    padding: 9px 15px;
    margin-bottom: 1px;
    margin-left: 4px;
}
.voiceButton {
    padding: 10px 15px;
    color: #173F5F;
    font-size: 15px;
    margin-left: 3px;
}
.translateButton {
    margin: 0 5px;
}
.birthdayInput {
    padding: 10px;
    width: 50%;
    margin: 2% 25%;
    text-align: center;
}
.ageButton {
    width: 10%;
    margin: 10px 45%;
    background-color: #173F5F;
    color: white;
}
.centerText {
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .userInputLabel {
        text-align: center;
        font-size: 35px;
        background-color: #173F5F;
        color: white;
        width: 70%;
        margin: 0 15%;
        padding: 10px;
        border-radius: 5px;
    }
    .userInput {
        width: 100%;
        padding: 10px 30px;
        font-size: 15px;
    }
    .searchButton {
        float: left;
        background-color: #173F5F;
        color: white;
        font-size: 25px;
        padding: 9px 15px;
        width: 48%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .ageButton {
        width: 15%;
        margin: 10px 45%;
        background-color: #173F5F;
        color: white;
    }
}
@media only screen and (max-width: 648px) {
    .userInputLabel {
        text-align: center;
        font-size: 35px;
        background-color: #173F5F;
        color: white;
        width: 90%;
        margin: 0 5%;
        padding: 10px;
        border-radius: 5px;
    }
    .searchButton {
        float: left;
        background-color: #173F5F;
        color: white;
        font-size: 25px;
        padding: 9px 15px;
        width: 46%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .ageButton {
        width: 15%;
        margin: 10px 45%;
        background-color: #173F5F;
        color: white;
    }
 }
